@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#blocoPrimario{
    width: 100%;
    height: 670px;
    background-color: #FFA8A7;
}

#navMenu{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#linksMenu>a{
    margin: 10px;
    padding: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #ffff;
    text-decoration: none;
}

#linksMenu>a:first-child{
    border-bottom:3px solid #ffff ;
}

#linksMenu>a:hover{
    border-bottom:3px solid #ffff ;
}
/*#######################################################*/

#blocoIntro{
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

#textoIntro{
    display: flex;
    align-items: center;
}

#texto>h2{
    width: 570px;
    margin-bottom: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #C5302C;
}
#texto>p{
    width: 600px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #592020;;
}
#texto>button{
    width: 150px;
    height: 40px;
    border: none;
    background: #C5302C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
/*#####################################################################################*/
#blocoSecundario{
    width: 100%;
    height: 556px;
    display: flex;
    justify-content: center;
}
#blocoSobre{
    display: flex;
    align-items: center;
    margin-right: 80px;
}
#TextoSobre{
    width: 450px;
}
#TextoSobre>h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    color: #FF6261;
}
#TextoSobre>p{
    color: #757474;
    font-size: 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
#blocoIlustra{
    display: flex;
    justify-content: end;
    align-items: center;
}
/*#####################################################################################*/
#blocoTerciario{
    background-color: #FFA8A7;
}

#blocoTerciario>h1{
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #FF0000;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    }
#div_principal{
    width: 80%;
    margin: 0 auto;  
  }
  
  #div_principal>h1{
    font-size: 24px;
    text-align: center;
    margin: 15px auto;
  }
  
  #div_principal>h2{
    font-size: 18px;
    color:#C5302C;
    text-align: center;
    margin: 20px auto;
    
    
  }
  .div_principal_opcao{
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 6fr 6fr;
    grid-template-rows: 6fr ;
    grid-template-areas: "dir opc esq";
    background: #C5302C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  .esq{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: esq;
  }
  
  .dir, .esq {
    font-weight: bolder;
    font-size: 18px;
    color: #fff;
  }
  
  .div_opc{
   margin: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: opc;
   
  }
  .opc{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    border: 1px solid grey;
  }
  
  .dir{
   
    grid-area: dir;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #blocoResu{
      width: 100%;
      display: flex;
      justify-content: center;

  }
  #blocoResu>button{
    width: 250px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border: none;
    background: #C5302C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 30px;
  }

